* {
    box-sizing: border-box;
}

:root {
    --text-size: 26px;
    --container-gap: 15px;
    --title-size: 80px;
}

html {
    font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: Helvetica, Arial, sans-serif;
    font-size: var(--text-size);
    font-weight: 400;
}

body,
html {
    
    overflow-x: hidden;
}

a {
    &:hover {
        text-decoration: none;
    }
}

.container {
    max-width: calc(1380px + var(--container-gap) * 2);
    width: 100%;
    padding: 0 var(--container-gap);
    margin: 0 auto;
}

.row {
    display: flex;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

section {
    padding: 100px 0;
}

.main-title {
    font-size: var(--title-size);
    font-family: Manrope, sans-serif;
    font-weight: 600;
    margin-bottom: 50px;
    line-height: 101%;
    margin-top: 0;
    width: 100%;
    text-align: center;
}

.main-descr {
    color: #9F9F9F;
    margin: 0;
    padding: 0;
}

.input {
    input {
        border-radius: 15px;
        border: 2px solid #8e8e8e;
        background: transparent;
        font-family: Helvetica, sans-serif;
        padding: 12px 20px;
        font-size: 19px;
        color: #8E8E8E;
        margin-top: 20px;
        &::placeholder {
            color: #8E8E8E;
        }
        &:focus {
            outline: none;
        }
    }

    &--date input {
        background-image: url('../images/icons/calendar.webp');
        background-size: 18px 18px;
        background-repeat: no-repeat;
        background-position: right 20px center;
    }
}

.btn {
    border-radius: 50px;
    font-size: 24px;
    color: #fff;
    padding: 16px 10px;
    display: block;
    max-width: 260px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #000;
    border: none;
    font-family: Helvetica;
    font-weight: 500;
    &--alt {
        background-color: #fff;
        color: #000;
    }
}

@keyframes tabShow {
    0% {
        display: none;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        display: flex;
    }
}

@keyframes tabContentShow {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .5s;
    background: rgba(0,0,0, .6);
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
    overflow: auto;
    display: flex;
    backdrop-filter: blur(6px);
    justify-content: center;
}
.modal-wrapper.min-modal-js-active {
    visibility: visible;
    transition: .3s;
    opacity: 1;
}
.lock {
    overflow: hidden;
}

.modal-call {
    height: fit-content;
    position: relative;
    margin-top: 120px;
    &__close {
        position: absolute;
        right: 0;
        display: none;
        top: 0;
    }

    &__content {
        margin-top: 0;
        background-color: #fff;
        max-width: 1092px;
        width: 100%;
        border-radius: 30px;
        overflow: auto;
    }

    &__content-header {
        display: flex;
        justify-content: space-between;
        background-color: #009EE3;
        border-radius: 0 0 50px 50px;
        color: #fff;
        padding: 50px;
    }

    &__content-header-left {
        
    }

    &__title {
        font-size: 75px;
        font-family: Manrope;
        font-weight: 600;
        max-width: 405px;
        line-height: 104%;
        margin: 0 0 45px 0;
    }

    &__descr {
        margin: 0;
    }

    &__logo {
        max-width: 224px;
        width: 100%;
        display: block;
    }

    &__content-header-right {
    }

    &__body {
        padding: 50px;
    }

    &__form {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 40px;
    }

    &__form-input {

        width: 21.976%;

        input {
            width: 100%;
        }
    }

    &__form-col {

        &--autosize {
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        color:#009EE3;
        font-size: 31px;
    }

    &__contacts-text {
    }

    &__form-alert {
        display: block;
        font-size: 19px;
        opacity: .2;
        max-width: 202px;
    }

    &__form-right {
        width: 24%;
    }

    &__form-btn {
        background-color: #000;
        color: #fff;
        display: block;
        max-width: 251px;
        width: 100%;
    }
}

.modal-thanks {
    max-width: 796px;
    width: 100%;
    margin-top: 120px;
    height: fit-content;
    &__content {
        display: block;
        max-width: 796px;
        width: 100%;
        padding: 130px 50px;
        text-align: center;
        background-color: #fff;
        border-radius: 20px;
    }

    &__title {
        font-weight: 400;
        font-size: 85px;
        line-height: 106%;
        margin:0 0 25px;
    }

    &__descr {
        font-size: 32px;
        line-height: 106%;
        display: block;
        margin: 0 auto;
        max-width: 502px;
    }
}