@media (max-width:1440px){
    // comfort 1440
    .comfort {

        &__col--left {
            width: 40%;
            padding-right: 15px;
        }

        &__photos {
            grid-template-columns: 450px 450px;
            grid-template-rows: 350px 350px;
        }
    }

    // dominates 1440
    .dominates {

        &__top {
            margin-bottom: 120px;
        }

        &__bottom {
            margin-top: 120px;
        }

        &__items {
            margin-top: 0;
            gap: 15px;
            width: 100%;
        }
        
        &__item-inner {
            width: 100%;
        }

        &__item-value {
            font-size: 60px;
        }

        &__item {
            margin-top: 0;
            width: 30%;
        }
    }

    // rest 1440
    .rest {
        &__btn {
            margin-top: 130px;
        }
    }
}

@media (max-width:1220px){

    // root 1220
    :root {
        --text-size: 20px;
        --title-size: 68px;
    }

    .main-title {
        margin-bottom: 40px;
    }

    // header 1220
    .header {
        padding-top: 50px;

        &__logo {
            max-width: 250px;
        }
    }

    // offer 1220
    .offer {
        height: 100vh;
        padding-top: 0;

        &__form {
            justify-content: space-between;
            gap: 30px;
        }

        &__form-alert {
            font-size: 16px;
        }
    }

    // comfort 1220 
    .comfort {

        &__col {
            &--right {
                width: 50%;
                margin-right: 0;
            }
        }

        &__photos {
            grid-template-columns: 380px 380px;
            grid-template-rows: 280px 280px;
        }
    }

    // dominates 1220
    .dominates {

        &__title {
            margin-bottom: 0;
        }

        &__item-value {
            font-size: 40px;
        }
    }

    // contacts 1220
    .contacts {
        padding: 120px 0;

        &__map-search {
            display: none;
        }
    }

    // rest 1220
    .rest {
        &__col--left {
            width: 40%;
            padding-top: 60px;
        }

        &__btn {
            margin-top: 100px;
        }
    }

    // footer 1220
    .footer {
        &__top {
            padding-bottom: 50px;
        }

        &__bottom {
            padding-top: 50px;
        }

        &__menu-link {
            font-size: 22px;
        }

        &__phone-text {
            font-size: 22px;
            max-width: 450px;
        }

        &__phone-link {
            font-size: 60px;
        }

        &__anchor-text {
            font-size: 22px;
        }
    }

    // modal-call 1220
    .modal-call {
        margin-top: 0;
        &__content {
            margin-top: 0;
        }

        &__title {
            font-size: 40px;
            margin-bottom: 20px;
        }

        &__form {
            column-gap: 30px;
            row-gap: 20px;
        }

        &__form-col {
            width: 47.8%;

        }

        &__form-alert {
            margin-top: 20px;
            max-width: 100%;
        }

        &__form-right {
            width: 100%;
        }
    }

}

@media (max-width:1020px){

}

@media (max-width:992px){
    // header 992
    .header {
        &__col {
            &--menu {
                display: none;
            }

            &--ui {
                margin-top: 0;
                flex: 1 0;
            }

            &--burger {
                display: block;
                margin-left: 20px;
            }
        }

        .row {
            justify-content: flex-start;
            align-items: center;
        }

        &__logo {
            max-width: 160px;
        }

        &__contacts {
            justify-content: flex-end;
        }

        &__burger {
            position: relative;
            z-index: 121;
            width: 32px;
            height: 19px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            padding: 0;
            background: transparent;
            border: none;
            margin-top: 2px;
            span {
                width: 100%;
                background-color: #fff;
                height: 2px;
                transition: 0.3s;
                position: absolute;
            }

            span:first-child {
                top: 0;
            }

            span:last-child {
                bottom: 0;
            }

            span:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }
            
            &:active span {
                width: 100%;
            }

            &.active {
                span:nth-child(2) {
                    transform: translateY(-50%) scale(0);
                    opacity: 0;
                }

                span {
                    width: 100%;
                }

                span:first-child {
                    transform: rotateZ(45deg);
                    top: initial;
                }

                span:last-child {
                    transform: rotateZ(-45deg);
                    bottom: initial;
                }
            }
        }

        &__menu ul{
            flex-direction: column;
            align-items: flex-end;
            gap: 12px;
        
            a {
                display: block;
                font-size: 24px;
                padding: 15px 0;
            }
        }
        
    }

    // offer 992 
    .offer {
        padding-bottom: 40px;
        &__form {
            flex-wrap: wrap;
            row-gap: 25px;
            column-gap: 20px;
            padding: 30px;
        }

        &__form-col {
            width: 22%;
        }

        &__form-right {
            width: 100%;
        }
    }

    // mobmenu 992
    .mobmenu {
        position: fixed;
        top: 0;
        right: 0;
        width: 320px;
        height: 100%;
        background: #c8c8c838;
        backdrop-filter: blur(6.6500000954px);
        padding-right: var(--container-gap);
        transform: translateX(100%);
        opacity: 0;
        transition: .3s;
        border-radius: 10px 0 0 10px;
        &.active {
            transform: translateX(0);
            opacity: 1;
        }
    }

    // main-title 992
    .main-title {
        font-size: 60px;
        margin-bottom: 30px;
    }

    // comfort 992
    .comfort {
        
        .row {
            align-items: center;
        }

        &__col {
            

            &--left {
                width: 45%;
            }

            &--right {
            }
        }

        &__main-text {
            margin: 30px 0;
        }

        &__photos {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 200px 200px;
            align-content: center;
            gap: 10px;

            img {
            }
        }
    }

    // section 992
    section {
        padding: 50px 0;
    }

    // dominates 992
    .dominates {
        &__item {
            width: 40%;
        }

        &__posttile {
            display: none;
        }

        &__title {
            width: 100%;
            text-align: center;
        }

        &__item-value {
            max-width: 194px;
        }

        &__top {
            margin-bottom: 50px;
        }

        &__bottom {
            margin-top: 50px;
            flex-direction: column;
            row-gap: 20px;
        }

        &__descr {
            width: 100% !important;
        }
    }

    // services 992
    .services {
        &__tabs-title-btn {
            padding: 25px 0;
        }

        &__tabs-contents {
            margin-top: 50px;
        }

        &__tabs-content {
            align-items: center;
        }

        &__tabs-content-left {
            width: 50%;
        }

        &__tabs-content-right {
            padding-top: 0;
        }

        &__tabs-content-descr {
            margin-bottom: 50px;
        }
    }

    // gallery 992
    .gallery {
        &__items {
            margin-top: 50px;
            gap: 10px;
        }
    }

    // contacts 992
    .contacts {
        padding: 120px 0 !important;
        &__phone {
            display: none;
        }

        &__title {
            max-width: 100%;
            text-align: center;
            margin-bottom: 80px;
        }

        &__col {
            padding: 0;
            width: 100%;
        }

        &__map {
            position: relative;
            max-width: 740px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 60%;
            width: 103%;
            &::before {
                display: none;
            }

            iframe {
                position: absolute !important;
                top: 0;
                left: 0;
            }
        }

        &__routes {
            margin-top: 5%;
        }

        &__routes-label {
            font-size: 36px;
        }

        &__routes-item a {
            width: 120px;
            height: 120px;
            img {
                display: block;
            }
        }
    }

    // rest 992
    .rest {

        .row  {
            flex-direction: column-reverse;
        }

        &__col {
            width: 100%;

            &--right {
                img {
                    width: 100%;
                    height: 320px;
                    object-fit: cover;
                    object-position: top center;
                }
            }
        }

        &__btn {
            margin-top: 50px;
        }
    }

    // footer 992
    .footer {
        &__menu {
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 40px;
            row-gap: 20px
        }
    }

    // modal-call 992
    .modal-call {

        &__content {
            border-radius: 20px;
        }

        &__content-header {
            padding: 20px;
            border-radius: 0 0 20px 20px;
        }

        &__body {
            padding: 20px;
        }

        &__form-col--contact {
            display: none;
        }
    }

}

@media (max-width:876px){

}

@media (max-width:768px){

    // header 768
    .header {
        padding-top: 25px;
        &__contacts {
            gap: 20px;
        }

        &__logo {
            max-width: 120px;
        }

        &__contacts-item {
            gap: 8px;

            &--phone {
                margin-top: 45px;
                justify-content: flex-end;
            }

            &--insta .header__contacts-text {
                display: none;
            }
        }
        

        &__contacts-icon {
            width: 25px;
            height: auto;
            display: block;
        }

        &__contacts-text {
            font-size: 24px;
        }
    }

    // offer 768
    .offer {
        height: auto;
        padding-top: 50vh;
        background-position: top center;
        padding-bottom: 25px;


        .container {
            padding: 0;
        }

        &__form {
            background-color: #00000058;
        }

        &__form-col {
            width: 46%;
        }

        &__form-right {
            width: 100%;
        }

        &__form-btn {
            margin-top: 15px;
        }
    }

    // input 768
    .input {

        input {
            margin-top: 10px;
            font-size: 16px;
        }
    }

    // btn 768
    .btn {
        font-size: 16px;
        padding: 10px 10px;
    }

    // main-title 768
    .main-title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    // comfort 768
    .comfort {
        .row {
            flex-direction: column;
            justify-content: center;
        }

        &__col {
            width: 100%;
            &--right {
                margin-top: 30px;
            }
        }

        &__photos {
            align-content:normal;
            height: auto;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 120px 120px;
            img {
                
            }
        }
    }

    // domiantes 768
    .dominates {
        &__item-text {
            font-size: 18px;
            max-width: 130px;
            top: 20px;
            
        }

        &__items {
            gap: 10px;
        }

        &__item-value {
            font-size: 32px;
        }

        &__item-value + .dominates__item-text {
            bottom: 20px;
        } 
    }

    // services 768
    .services {
    }

    // contacts 768
    .contacts {
        padding: 50px 0 !important;
        &__routes-label {
            font-size: 28px;
        }

        &__routes-items {
            margin-top: 15px;
            gap: 15px;
            flex-wrap: wrap ;
        }

        &__routes-item a {
            width: 80px;
            height: 80px;

            img {
                display: block;
                width: 56%;
                height: auto;
            }
        }
    }

    // rest 768
    .rest {
        &__col--left {
            padding-top: 20px;
        }

        &__btn {
            margin-top: 20px;
        }
    }

    // footer 768
    .footer {
        padding: 50px 0;
        &__menu {
            flex-direction: column;
        }

        &__bottom-col {
            &--phone {
                flex-direction: column;
                align-items:flex-start;
            }
        }

        &__menu-link {
            font-size: 20px;
        }

        &__phone-text {
            font-size: 20px;
        }

        &__phone-link {
            margin-top: 20px;
            font-size: 36px;
        }

        &__anchor-text {
            font-size: 20px;
        }

        &__socials-link {
            width: 25px;
        }
    }

    // modal-call 768
    .modal-call {
        display: block;
        margin-top: 10vh;
        &__content {
            margin-top: auto;
        }
        
        &__form {
            justify-content: space-between;
        }
        &__form-col {
            width: 45%;
        }

        &__form-btn {
            max-width: 100%;
        }

        &__form-alert {
            font-size: 16px;
        }
    }

}

@media (max-width:576px){

    // :root 576
    :root {
        --text-size: 16px;
    }
    // input 576
    .input {

        input {
            font-size: 15px;
        }
    }

    // btn 576
    .btn {
        font-size: 15px;
    }

    // offer 576
    .offer {

        &__form {
            gap: 15px;
            padding: 20px;
        }

        &__form-col {
            width: 100%;
        }
    }

    // dominates 576
    .dominates {
        &__item {
            width: 100%;
            max-width: 220px;
        }

        &__items {
        }
    }

    // services 576
    .services {

        &__tabs-title-btn {
            padding: 15px 0;
        }

        &__tabs-contents {
            margin-top: 20px;
        }

        &__tabs-content {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &__tabs-content-left {
            width: 100%;
        }

        &__tabs-content-right {
            width: 100%;
            margin-top: 20px;
        }

        &__tabs-content-descr {
            margin-bottom: 30px;
        }
    }

    // contacts 768
    .contacts {
        &__map {
            height: 320px;
        }
    }

    // modal-call
    .modal-call {
        &__form-col {
            width: 100%;
        }

        &__title {
            font-size: 30px;
        }

        &__logo {
            max-width: 150px;
        }

        &__form-alert {
            margin-top: 0;
        }
    }

}

@media (max-width:450px){

}